---

---

<footer>
    <section class="bg-black text-white text-center p-8 mt-8">
        Made with gullets and stomachs by <a href="https://matrixcreate.com" target="_blank">Matrix Create</a>
        <div class="flex flex-wrap justify-center mt-4">
            <a href="https://www.facebook.com/MincePieReview" target="_blank"><img src="/icons/facebook.svg" class="w-12" /></a>
            <a href="https://twitter.com/reviewmincepies" target="_blank"><img src="/icons/twitter.svg" class="w-12" /></a>
            <a href="#" target="_blank"><img src="/icons/instagram.svg" class="w-12" /></a>
        </div>
    </section>
</footer>