---

---

<footer>
    <section class="text-white bg-greyblue text-center py-8">
        <p>Matrix Create is a division of Newsquest Media Group Ltd who are a limited company registered in England and Wales.</p>
        <p>Registered Number: 01676637 VAT Number: 667830108 - Matrix Create, 123 Pyle Street, Newport, PO30 1ST</p>
        <p>Registered Office: Loudwater Mill, Station Road, Loudwater, High Wycombe, Bucks HP10 9TY.</p>
    </section>

    <section class="bg-black text-white text-center p-8">
        Made with heart by <a href="https://matrixcreate.com" target="_blank">Matrix Create</a>
    </section>
</footer>