---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).split('/')[0];

const { heroTitle } = Astro.props;

const activeLink = ['bg-mincepiebg-500', 'text-pie-400', 'px-3', 'py-2', 'rounded-md', 'text-sm', 'font-medium'];
const passiveLink = ['text-brandblue-400', 'hover:bg-mincepiebg-500', 'hover:text-pie-400', 'px-3', 'py-2', 'rounded-md', 'text-sm', 'font-medium']
const activeLinkMobile = ['bg-mincepiebg-500', 'text-white', 'block', 'px-3', 'py-2', 'rounded-md', 'text-base', 'font-medium'];
const passiveLinkMobile = ['text-brandgrey-500', 'hover:bg-brandgrey-500', 'hover:text-white', 'block', 'px-3', 'py-2', 'rounded-md', 'text-base', 'font-medium'];
---
<nav class="bg-brandgrey-500 border-b-[#F4F4F4] border-b">
   <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
         <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
         <!-- Mobile menu button-->
         <button type="button" id="menuButton" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
               Icon when menu is closed.

               Heroicon name: outline/bars-3

               Menu open: "hidden", Menu closed: "block"
            -->
            <svg id="menu-close" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
               <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
               Icon when menu is open.

               Heroicon name: outline/x-mark

               Menu open: "block", Menu closed: "hidden"
            -->
            <svg id='menu-open' class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
               <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
         </button>
         </div>
         <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
               <a href="/" title='To the homepage'>
                  <img class="block h-8 w-auto lg:hidden" src="/images/pie.png" alt="Mince Pie Review">
                  <img class="hidden h-8 w-auto lg:block" src="/images/pie.png" alt="Mince Pie Review">
               </a>
            </div>
            <div class="hidden sm:ml-6 sm:block">
               <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/" class={currentPath == '' ? activeLink.join(' ') : passiveLink.join(' ')}>Home</a>
                  <a href="/reviews" class={currentPath == 'reviews' ? activeLink.join(' ') : passiveLink.join(' ')}>Reviews</a>
                  <a href="/about" class={currentPath == 'about' ? activeLink.join(' ') : passiveLink.join(' ')}>About</a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="sm:hidden hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3 bg-brandblue-400">         
         <a href="/" class={currentPath == '' ? activeLinkMobile.join(' ') : passiveLinkMobile.join(' ')} aria-current="page">Home</a>
         <a href="/reviews" class={currentPath == 'reviews' ? activeLinkMobile.join(' ') : passiveLinkMobile.join(' ')}>Reviews</a>
         <a href="/about" class={currentPath == 'about' ? activeLinkMobile.join(' ') : passiveLinkMobile.join(' ')}>About</a>
      </div>
   </div>
</nav> 

<script>
   const menuButton = document.getElementById('menuButton');
   menuButton.addEventListener('click', () => {
      document.getElementById('mobile-menu').classList.toggle('hidden');

      document.getElementById('menu-open').classList.toggle('hidden');
      document.getElementById('menu-open').classList.toggle('block');
      document.getElementById('menu-close').classList.toggle('hidden');
      document.getElementById('menu-close').classList.toggle('block');
      
   })
</script>