---
const { review } = Astro.props;

import { urlForImage } from '../../lib/imageBuilder'
---
<style>
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class="group relative">
    <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
        <img src={urlForImage(review.image)} alt="Image of mince pie." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
    </div>
    <div class="mt-4 flex justify-between">
        <div>
            <h3 class="text-sm text-gray-700">
                <a href={'reviews/' + review.slug.current}>
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {review.brand}
                </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{review.range ?? ''}</p>
        </div>
        <p class="text-sm font-medium text-gray-900">{review.overall}/20</p>
    </div>
</div>	