---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title='About' heroTitle='About This Here Site'>
	<div class="bg-pie-400">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:pt-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-xl uppercase font-bold">What's this about?</h2>		
			<p>What can we say, it's a site about reviewing mince pies ... what else is there to explain?</p>
		</div>
	</div>
	<div class="bg-pie-400">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:pt-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-xl uppercase font-bold">Why is this about?</h2>		
			<p>
				The history is a little vague as the original creators of this here challenge have gradually filtered off to new ventures.
					So the challenge has be bestowed upon the current team to carry on the mince pie torch - without eating or rating it.
			</p>
			<p>
				We've created this site because that's the thing we do any way, and also to have a little record for our festive fun.
			</p>
		</div>
	</div>
	<div class="bg-pie-400">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:pt-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-xl uppercase font-bold">With thanks</h2>		
			<p>This site is built on <a href="https://astro.build/" target="_blank" class="text-brandgrey-500 underline font-semibold">Astro</a> - it's quick, it's light, and it's quick. For the 'look' of the site we're using the popular <a href="https://tailwindcss.com" target="_blank" class="text-brandgrey-500 underline font-semibold">TailwindCSS</a>. The social icons were sourced from <a href="https://icons8.com/" target="_blank" class="text-brandgrey-500 underline font-semibold">Icons8</a></p>
		</div>
	</div>
	
</BaseLayout>
