---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.

import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- Below is your "component template." It's just HTML, but with
	some magic sprinkled in to help you build great templates. -->
<BaseLayout title='About'>
	<div class="w-4/5 m-auto">
		<section class="">
			<h1 class="m-8 text-4xl">About</h1>
			<div class="w-full">
				<p>
					Nosy
				</p>
			</div>
		</section>
	</div>
</BaseLayout>
