---
import BaseLayout from '../layouts/BaseLayout.astro';

//import {reviews} from '../data/reviews';
import ReviewCard from '../layouts/components/ReviewCard.astro';

import { getAllReviews } from '../lib/api';

const reviews = await getAllReviews();

const sortedReviews = reviews.sort((a,b) => new Date(b.published).getTime() - new Date(a.published).getTime()).slice(0,3);
const topReviews = reviews.sort((a,b) => b.overall - a.overall).slice(0,3);
const notReviews = reviews.sort((a,b) => a.overall - b.overall).slice(0,3);
---
<!-- Below is your "component template." It's just HTML, but with
	some magic sprinkled in to help you build great templates. -->
<BaseLayout heroTitle='Mince Pie Review'>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Latest Reviews</h2>		
			<small class=''>The most recent reviews by the team and contributors</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
				{sortedReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Top Pies</h2>		
			<small class=''>Our top 3 pies we've experienced</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
				{topReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Not So Top Pies</h2>		
			<small class=''>All a matter of a pie based opinion<</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
				{notReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
</BaseLayout>
