---
import BaseLayout from '../layouts/BaseLayout.astro';

//import {reviews} from '../data/reviews';
import ReviewCard from '../layouts/components/ReviewCard.astro';

import { getAllReviews } from '../lib/api';

const reviews = await getAllReviews();

const sortedReviews = reviews.sort((a,b) => new Date(b.published).getTime() - new Date(a.published).getTime()).slice(0,3);
const topReviews = reviews.sort((a,b) => b.overall - a.overall).slice(0,3);
const notReviews = reviews.sort((a,b) => a.overall - b.overall).slice(0,3);
---
<!-- Below is your "component template." It's just HTML, but with
	some magic sprinkled in to help you build great templates. -->
<BaseLayout heroTitle='Mince Pie Review'>
	<!-- This example requires Tailwind CSS v3.0+ -->
	<div class="isolate bg-mincepiebg-500">
		<main>
			<div class="relative px-6 lg:px-8">
				<div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
					<div>
						<div class="hidden sm:mb-8 sm:flex sm:justify-center">
							<div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
								<span class="text-gray-600">
								We're full swing into 2022 based pies. <a href="/reviews" class="font-semibold text-mincepiebg-600"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
								</span>
							</div>
						</div>
						<div>
							<h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">Mince Pie Review</h1>
							<p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Welcome to the Mince Pie Review site. Based on the Isle of Wight, we're a small group of festive pie testers welcoming high street and locally baked pies</p>
							
							<div class="mt-8 flex gap-x-4 sm:justify-center">
								<a href="/reviews" class="inline-block rounded-lg bg-pie-600 px-4 py-1.5 text-base font-semibold leading-7 text-mincepiebg-500 shadow-sm ring-1 ring-pie-400 hover:bg-pie-400 hover:ring-indigo-700">
									See the reviews!
									<span class="text-mincepiebg-500" aria-hidden="true">&rarr;</span>
								</a>
								<a href="/suggest" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
									Suggest a pie
									<span class="text-gray-400" aria-hidden="true">&rarr;</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:pt-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Latest Reviews</h2>		
			<small class=''>The most recent reviews by the team and contributors</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
				{sortedReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Top Pies</h2>		
			<small class=''>Our top 3 pies we've experienced</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
				{topReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">Not So Top Pies</h2>		
			<small class=''>All a matter of a pie based opinion<</small>
			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
				{notReviews.map((review) => 
					<ReviewCard review={review} />			
				)}	
			</div>
		</div>
	</div>
</BaseLayout>
