---
import BaseLayout from '../layouts/BaseLayout.astro';
import ReviewCard from '../layouts/components/ReviewCard.astro';

import { getAllReviews } from '../lib/api';
const reviews = await getAllReviews();

const sortedReviews = reviews.sort((a,b) => new Date(b.published).getTime() - new Date(a.published).getTime())
---
<!-- Below is your "component template." It's just HTML, but with
	some magic sprinkled in to help you build great templates. -->
<BaseLayout heroTitle='All Reviews'>
	<div class="w-4/5 m-auto">
		<section class="">
			<div class="gap-8 w-full flex justify-center flex-wrap">
				
				{sortedReviews.map((review) => 
					<ReviewCard review={review} />			
				)}
	
			</div>
		</section>
	</div>
</BaseLayout>
