---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title='Suggest a pie' heroTitle='Tell us about a good pie'>
	<div class="bg-pie-400">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-8 sm:pt-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-xl uppercase font-bold">Share the pie</h2>		
			<p>Come across a minimum half-decent mince pie? Send us the details via any of our social media channels and we'll either agree or disagree with your opinion, with.</p>
		</div>
	</div>
</BaseLayout>
