---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title='Suggest a pie' heroTitle='Tell us about a good pie'>
	<section class="w-1/2 m-auto">
		<h2 class='text-xl uppercase font-bold'>Share the pie</h2>	
		<p class='mb-4'>
			Come across a minimum half-decent mince pie? Send us the details via any of our social media channels and we'll either agree or disagree with your opinion, with.
		</p>		
	</section>
</BaseLayout>
