---
import Nav from "./components/Nav.astro";
import Footer from "./components/Footer.astro";

const { title, heroTitle } = Astro.props;
---
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

        <title>{ title != null ? title + ' | Mince Pie Review' : 'Mince Pie Review' }</title>

        <meta name="description" content="Mince Pie Review"> 
        <meta name="keywords" content="Isle of wight, graphic, design, web, development, branding, developers, website, webdesign, seo, content management system, print, logo, development">
        <meta name="author" content="Matrix Create">

        <meta property="og:url" content="/">
        <meta property="og:title" content="Mince Pie Review by Matrix Create">
        <meta property="og:description" content="Mince Pie Review">
        <meta property="og:image" content="/assets/images/ogimg.jpg">
    </head>

    <body class="bg-mincepiebg-500 text-white">
        <Nav heroTitle={heroTitle} />
        <slot /> <!-- your content is injected here -->
        <Footer/>
    </body>
</html>
