---
import BaseLayout from '../layouts/BaseLayout.astro';

const { title } = Astro.props;
---
<BaseLayout title={title}>
    <slot name='hero' />
    <div class="w-full md:w-4/5 max-w-screen-xl m-auto">
        <slot />
    </div>
</BaseLayout>